@import url('BebasNeue Light.ttf');

@font-face {
    font-family: "nokia-pure-headline-ultralight";
    src: url("nokiapure.woff") format('woff');
}
html {
	border-top: 5px solid #777;
	height: 98%;
	margin-top: 2px;
}

body {
	margin-top: 0;
	font-family: "nokia-pure-headline-ultralight";
	font-weight: 100;
}

a {
	text-decoration: none;
	color: black;
}

#main {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;	
	text-align: center;
}

#name {
	font-size: 100px;
}

#work {
	font-size: 40px;
	margin-top: 30px;
	color: rgba(0, 0, 0, 0.55);
}

#social {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10%;	
	text-align: center;
	font-size: 20px;
}

#social ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}

#social ul li {
	display: inline;
	padding: 10px 0 10px 0;
}


#social ul li a {
	padding-left: 15px;
	padding-right: 15px;
}

::selection {
    color: black; 
    background: rgba(235, 203, 79, 0.66);
}

#social ul li:hover {
	background-color: rgba(235, 203, 79, 0.66);
}